//@import '../../components/variables.css';

.pie-timer {
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-top: -1.2rem;
  right: 1.3rem;
}

.svg {
  background-color: red;
  border-radius: 100%;
  box-shadow: 0 0 0 0.1rem white inset, 0 0 0 0.1rem white inset, 0 0 0 0.1rem white inset;
  vertical-align: middle;
}

.svg-loader {
  fill: darkgray;
}

.svg-border {
  fill: white;
}
